body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(93deg, rgb(179, 112, 255) 0%, rgb(255, 145, 184) 100%);


}
button{
  cursor: pointer;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
